@page "/ListRecord"
@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json;
@inject HttpClient Http
<PageContainer Title="欢迎">
    <Table TItem="Data" DataSource="@data" PageSize="10" ScrollX="1000" Size=@TableSize.Small>
        <Column @bind-Field="@context.dateDisplayValue" Width="100">
            <a>@context.dateDisplayValue</a>
        </Column>
        <Column @bind-Field="@context.phone" Width="100"></Column>
        <Column @bind-Field="@context.dept" Width="100"></Column>
        <Column @bind-Field="@context.typeName" Width="100"></Column>
        <Column @bind-Field="@context.question" Ellipsis ></Column>
        <Column @bind-Field="@context.answer"></Column>
        

        <ActionColumn Title="Acton" Fixed="right" Width="100">
            <Space Size="middle">
               
                <SpaceItem>
                    <a>Delete</a>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
    @code {
        public class Result
        {
            public int totalCount { get; set; }
            public Data[] items { get; set; }
        }
        public class Response
        {
            public Result result { get; set; }
        }
        public class Data
        {
            [DisplayName("日期")]
            public string dateDisplayValue { get; set; }
            [DisplayName("电话")]
            public string phone { get; set; }
            [DisplayName("科室")]
            public string dept { get; set; }
            [DisplayName("类型")]
            public string typeName { get; set; }
            [DisplayName("服务内容")]
            public string question { get; set; }
            [DisplayName("解决方案")]
            public string answer { get; set; }
        }
        protected override async Task OnInitializedAsync()
        {
            var result = await Http.GetAsync($@"http://capinfo.devops.com:21021/api/services/app/question/GetAllQuestion?keyword=&userid=0&maxResultCount=10&skipCount=0");
            string resultContent = result.Content.ReadAsStringAsync().Result;
            var r = JsonSerializer.Deserialize<Response>(resultContent);
            data = r.result.items;
        }
        Data[] data { get; set; }

        }
</PageContainer>
